<MetadataMappings>
  <MetadataMapping serviceObjectId="176083969">
    <MovieRating>
	<!--mex rating -->
	  <Mapping from="B$" to="B"/>
	  <Mapping from="A$" to="A"/>
	  <Mapping from="AA$" to="AA"/>
	  <Mapping from="B-15$" to="B-15"/>
	  <Mapping from="C$" to="C"/>
	  <Mapping from="D$" to="D"/>
	  <Mapping from="RC$" to="RC"/>
	   
	  <!-- mex rating -->
      <Mapping from="^NC-17$" to="NC-17"/>
      <Mapping from="^G$" to="G"/>
      <Mapping from="^PG$" to="PG"/>
      <Mapping from="^R$" to="R"/>
      <Mapping from="^X$" to="X"/>
      <Mapping from="^XXX$" to="X"/>
    </MovieRating>
    <TVRating>
      <Mapping from="^TV-Y$" to="TV-Y"/>
      <Mapping from="^TV-Y7$" to="TV-Y7"/>
      <Mapping from="^TV-Y7-FV$" to="TV-Y7-FV"/>
	  <Mapping from="^TV-G$" to="TV-G"/>
	  <Mapping from="^TV-PG$" to="TV-PG"/>
	  <Mapping from="^TV-14$" to="TV-14"/>
	  <Mapping from="^TV-MA$" to="TV-MA"/>
    </TVRating>
   <Genre>
      <Mapping from="Action" to="Action"/>
	  <Mapping from="Animation" to="Animation"/>
	  <Mapping from="Biography" to="Biography"/>
	  <Mapping from="Comedy" to="Comedy"/>
	  <Mapping from="Crime" to="Crime"/>
	  <Mapping from="Documentary" to="Documentary"/>
	  <Mapping from="Drama" to="Drama"/>
	  <Mapping from="Family" to="Family"/>
	  <Mapping from="Fantasy" to="Fantasy"/>
	  <Mapping from="Film-Noir" to="Film-Noir"/>
	  <Mapping from="Food" to="Food"/>
	  <Mapping from="Game-Show" to="Game-Show"/>
	  <Mapping from="History" to="History"/>
	  <Mapping from="Horror" to="Horror"/>
	  <Mapping from="Music" to="Music"/>
	  <Mapping from="Musical" to="Musical"/>
	  <Mapping from="Mystery" to="Mystery"/>
	  <Mapping from="News" to="News"/>
	  <Mapping from="Reality-TV" to="Reality-TV"/>
	  <Mapping from="Romance" to="Romance"/>
	  <Mapping from="Sci-Fi" to="Sci-Fi"/>
	  <Mapping from="Sport" to="Sport"/>
	  <Mapping from="Talk-Show" to="Talk-Show"/>
	  <Mapping from="Thriller" to="Thriller"/>
	  <Mapping from="War" to="War"/>
	  <Mapping from="Western" to="Western"/>
    </Genre>
    <Category>
	  <Mapping from="Action" to="Action"/>
	  <Mapping from="Animation" to="Animation"/>
	  <Mapping from="Biography" to="Biography"/>
	  <Mapping from="Comedy" to="Comedy"/>
	  <Mapping from="Crime" to="Crime"/>
	  <Mapping from="Documentary" to="Documentary"/>
	  <Mapping from="Drama" to="Drama"/>
	  <Mapping from="Family" to="Family"/>
	  <Mapping from="Fantasy" to="Fantasy"/>
	  <Mapping from="Film-Noir" to="Film-Noir"/>
	  <Mapping from="Food" to="Food"/>
	  <Mapping from="Game-Show" to="Game-Show"/>
	  <Mapping from="History" to="History"/>
	  <Mapping from="Horror" to="Horror"/>
	  <Mapping from="Music" to="Music"/>
	  <Mapping from="Musical" to="Musical"/>
	  <Mapping from="Mystery" to="Mystery"/>
	  <Mapping from="News" to="News"/>
	  <Mapping from="Reality-TV" to="Reality-TV"/>
	  <Mapping from="Romance" to="Romance"/>
	  <Mapping from="Sci-Fi" to="Sci-Fi"/>
	  <Mapping from="Sport" to="Sport"/>
	  <Mapping from="Talk-Show" to="Talk-Show"/>
	  <Mapping from="Thriller" to="Thriller"/>
	  <Mapping from="War" to="War"/>
	  <Mapping from="Western" to="Western"/>
	  <Mapping from="CUBIWARE" to="CUBIWARE"/>
	  <Mapping from="Geo Blocking" to="Geo Blocking"/>	
	  <Mapping from="Cablemas" to="Cablemas"/>		  
	  <Mapping from="Adultos/VenusHD" to="Adultos/VenusHD"/>
	  <Mapping from="Tricom Club On Demand/Series/Más series/American Dreams/Temporada 3" to="Tricom Club On Demand/Series/Más series/American Dreams/Temporada 3"/>
	  <Mapping from="Movies/All Movies/A-L" to="Movies/All Movies/A-L"/>
	  <Mapping from="Movies/By Category/Drama" to="Movies/By Category/Drama"/>
	  <Mapping from="Movies/By Category/Independent" to="Movies/By Category/Independent"/>
	  <Mapping from="Movies/New Releases/A-L" to="Movies/New Releases/A-L"/>
	  <Mapping from="Moooovies/HDDD Mooovies/Byyy Catttegory/Drama" to="Moooovies/HDDD Mooovies/Byyy Catttegory/Drama"/>
 <Mapping from="Moooovies/HDDD Mooovies/Allll Movvvies/M-R" to=" Moooovies/HDDD Mooovies/Allll Movvvies/M-R "/>
	  </Category>
  </MetadataMapping>
  <MetadataMapping serviceObjectId="3650954241">
    <MovieRating>
	<!--mex rating-->
	<Mapping from="B$" to="B"/>
	  <Mapping from="A$" to="A"/>
	  <Mapping from="AA$" to="AA"/>
	  <Mapping from="B-15$" to="B-15"/>
	  <Mapping from="C$" to="C"/>
	  <Mapping from="D$" to="D"/>
	  <Mapping from="RC$" to="RC"/>
	  <!--Mex rating-->
      <Mapping from="NC-17" to="NC-17"/>
      <Mapping from="G" to="G"/>
      <Mapping from="PG" to="PG"/>
      <Mapping from="R" to="R"/>
      <Mapping from="X" to="X"/>
      <Mapping from="XXX" to="X"/>
    </MovieRating>
    <TVRating>
      <Mapping from="TV-Y" to="TV-Y"/>
      <Mapping from="TV-Y7" to="TV-Y7"/>
      <Mapping from="TV-Y7-FV" to="TV-Y7-FV"/>
	  <Mapping from="TV-G" to="TV-G"/>
	  <Mapping from="TV-PG" to="TV-PG"/>
	  <Mapping from="TV-14" to="TV-14"/>
	  <Mapping from="TV-MA" to="TV-MA"/>
    </TVRating>
    <Genre>
      <Mapping from="Action" to="Action"/>
	  <Mapping from="Animation" to="Animation"/>
	  <Mapping from="Biography" to="Biography"/>
	  <Mapping from="Comedy" to="Comedy"/>
	  <Mapping from="Crime" to="Crime"/>
	  <Mapping from="Documentary" to="Documentary"/>
	  <Mapping from="Drama" to="Drama"/>
	  <Mapping from="Family" to="Family"/>
	  <Mapping from="Fantasy" to="Fantasy"/>
	  <Mapping from="Film-Noir" to="Film-Noir"/>
	  <Mapping from="Food" to="Food"/>
	  <Mapping from="Game-Show" to="Game-Show"/>
	  <Mapping from="History" to="History"/>
	  <Mapping from="Horror" to="Horror"/>
	  <Mapping from="Music" to="Music"/>
	  <Mapping from="Musical" to="Musical"/>
	  <Mapping from="Mystery" to="Mystery"/>
	  <Mapping from="News" to="News"/>
	  <Mapping from="Reality-TV" to="Reality-TV"/>
	  <Mapping from="Romance" to="Romance"/>
	  <Mapping from="Sci-Fi" to="Sci-Fi"/>
	  <Mapping from="Sport" to="Sport"/>
	  <Mapping from="Talk-Show" to="Talk-Show"/>
	  <Mapping from="Thriller" to="Thriller"/>
	  <Mapping from="War" to="War"/>
	  <Mapping from="Western" to="Western"/>
    </Genre>
    <Category>
	  <Mapping from="Action" to="Action"/>
	  <Mapping from="Animation" to="Animation"/>
	  <Mapping from="Biography" to="Biography"/>
	  <Mapping from="Comedy" to="Comedy"/>
	  <Mapping from="Crime" to="Crime"/>
	  <Mapping from="Documentary" to="Documentary"/>
	  <Mapping from="Drama" to="Drama"/>
	  <Mapping from="Family" to="Family"/>
	  <Mapping from="Fantasy" to="Fantasy"/>
	  <Mapping from="Film-Noir" to="Film-Noir"/>
	  <Mapping from="Food" to="Food"/>
	  <Mapping from="Game-Show" to="Game-Show"/>
	  <Mapping from="History" to="History"/>
	  <Mapping from="Horror" to="Horror"/>
	  <Mapping from="Music" to="Music"/>
	  <Mapping from="Musical" to="Musical"/>
	  <Mapping from="Mystery" to="Mystery"/>
	  <Mapping from="News" to="News"/>
	  <Mapping from="Reality-TV" to="Reality-TV"/>
	  <Mapping from="Romance" to="Romance"/>
	  <Mapping from="Sci-Fi" to="Sci-Fi"/>
	  <Mapping from="Sport" to="Sport"/>
	  <Mapping from="Talk-Show" to="Talk-Show"/>
	  <Mapping from="Thriller" to="Thriller"/>
	  <Mapping from="War" to="War"/>
	  <Mapping from="Western" to="Western"/>
	  <Mapping from="CUBIWARE" to="CUBIWARE"/>
	  <Mapping from="Geo Blocking" to="Geo Blocking"/>	
	  <Mapping from="Cablemas" to="Cablemas"/>		  
	  <Mapping from="Adultos/VenusHD" to="Adultos/VenusHD"/>
	  <Mapping from="Tricom Club On Demand/Series/Más series/American Dreams/Temporada 3" to="Tricom Club On Demand/Series/Más series/American Dreams/Temporada 3"/>
	  <Mapping from="Movies/All Movies/A-L" to="Movies/All Movies/A-L"/>
	  <Mapping from="Movies/By Category/Drama" to="Movies/By Category/Drama"/>
	  <Mapping from="Movies/By Category/Independent" to="Movies/By Category/Independent"/>
	  <Mapping from="Movies/New Releases/A-L" to="Movies/New Releases/A-L"/>
	  <Mapping from="Moooovies/HDDD Mooovies/Byyy Catttegory/Drama" to="Moooovies/HDDD Mooovies/Byyy Catttegory/Drama"/>
	  <Mapping from="Moooovies/HDDD Mooovies/Allll Movvvies/M-R" to=" Moooovies/HDDD Mooovies/Allll Movvvies/M-R "/>
	  </Category>
  </MetadataMapping>
   </MetadataMappings>
