<?xml version="1.0" encoding="UTF-8"?>
<FolderConfiguration>
<!--Set to true to enable QA step ie that publishing is done via the QA page. Values are true or false-->
  <IngestSettings enableQA="true"/>
 <!--Value must match an existing Uri profile in Conax Contego-->
  <URIProfile>FREE_USAGE</URIProfile>
  <PricingRule>ADI_ONLY</PricingRule>
  <IngestXMLTypes>
  <IngestXMLType>Channel_1_0</IngestXMLType>
  </IngestXMLTypes>
  <!--Allowed values are those in XtendDeviceMap.xml. Corresponding values must exist in Cubiware-->
  <Devices>
    <Device>PC</Device>
    <Device>MAC</Device>
    <Device>STB</Device>
	</Devices>
  <!--Allowed values are any CRO in MPP. Note values are case sensitive-->
  <ContentRightsOwner>CP1</ContentRightsOwner>
  <!--Allowed values are any CA in MPP. Note values are case sensitive-->
  <ContentAgreement>CP1</ContentAgreement>
  <!--Value must match image name in folder-->
  <DefaultImageFileName>default.jpg</DefaultImageFileName>
  <!--Default Rating Type for Folder. Acceptable string values are “MovieRating” or “TVRating”-->
  <DefaultRatingType>MovieRating</DefaultRatingType>
  <!--Value must match metadatamapping.config file name. Note: there can be several metadatamapping config files-->
  <MetadataMappingConfigurationFileName>MetadataMapping.config</MetadataMappingConfigurationFileName>
   <MetadataDefaultValues>
   <!--Default Movie Rating to be applied if missing from ingest xml-->
    <MovieRating>PG</MovieRating>
   <!--Default TV Rating to be applied if missing from ingest xml-->
    <TVRating>TV-PG</TVRating>
  <!--Value must match metadatamapping.config file name. Note: there can be several metadatamapping config files-->
  <MetadataMappingConfigurationFileName>MetadataMapping.config</MetadataMappingConfigurationFileName>
  </MetadataDefaultValues>
  <!--Configure this section if running multiple services with the SAME prices. Note: Not a common scenario-->
  <ConfigurationForServices>
  <!--Service object for the Outlet_Mexico in MPP-->
    <Service objectId="4895385601">
      <Prices>
	 <!--The configured service will have the following TVOD pricing-->
        <RentalPrice amount="12.0" currency="SEK" periodLengthInhrs="24"/>
      </Prices>
    </Service>
    </ConfigurationForServices>
 </FolderConfiguration>