<?xml version="1.0" encoding="UTF-8"?>
<FolderConfiguration>
  <IngestSettings enableQA="true"/>
  <URIProfile>123</URIProfile>
  <IngestXMLTypes>
    <IngestXMLType>CableLabs_1_0</IngestXMLType>
    <IngestXMLType>CableLabs_1_1</IngestXMLType>
  </IngestXMLTypes>
  <Devices>
    <Device>PC</Device>
    <Device>MAC</Device>
    <Device>STB</Device>
  </Devices>
  <ContentRightsOwner>HBO</ContentRightsOwner>
  <ContentAgreement>HBO All Regions</ContentAgreement>
  <DefaultImageFileName>default.jpg</DefaultImageFileName>
  <MetadataMappingConfigurationFileName>MetadataMapping.config</MetadataMappingConfigurationFileName>
  <MetadataDefaultValues>
    <ParentalRating>NC-17</ParentalRating>
    <Genre>Family</Genre>
    <Category>Romance</Category>
  </MetadataDefaultValues>
  <DefaultConfigurationForAllServices>
    <Prices>
      <RentalPrice amount="10.0" currency="SEK" periodLengthInhrs="24"/>
      <Categories>
        <Category name="Action">
          <RentalPrice amount="11.0" currency="SEK" periodLengthInhrs="24"/>
        </Category>
      </Categories>
    </Prices>
  </DefaultConfigurationForAllServices>
  <ConfigurationForServices>
    <Service objectId="1">
      <Prices>
        <SubscriptionPrice id="10"/>
        <RentalPrice amount="12.0" currency="SEK" periodLengthInhrs="24"/>
        <Categories>
          <Category name="Action">
            <SubscriptionPrice id="11"/>
            <RentalPrice amount="13.0" currency="SEK" periodLengthInhrs="24"/>
          </Category>
        </Categories>
      </Prices>
    </Service>
    <Service objectId="2">
      <Prices>
        <RentalPrice amount="5" currency="USD" periodLengthInhrs="24"/>
        <Categories>
          <Category name="Si-fi">
            <RentalPrice amount="6.0" currency="USD" periodLengthInhrs="24"/>
          </Category>
          <Category name="Drama">
            <RentalPrice amount="7.0" currency="USD" periodLengthInhrs="24"/>
          </Category>
        </Categories>
      </Prices>
    </Service>
    <Service objectId="3">
      <Prices>
        <SubscriptionPrice id="30"/>
        <RentalPrice amount="5" currency="USD" periodLengthInhrs="24"/>
      </Prices>
    </Service>
    <Service objectId="4">
      <Prices>
        <SubscriptionPrice id="40"/>
        <RentalPrice amount="6" currency="EUR" periodLengthInhrs="24"/>
      </Prices>
    </Service>
  </ConfigurationForServices>
</FolderConfiguration>
