<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <threshold value="WARN"/>
    <file value="C:\tmp\logs\ConaxWorkflowManager\ErrorsAndWarnings.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %P{MyID} %level %logger - %message%newline" />
    </layout>
  </appender>


  <appender name="LoadCatchupDBTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="LoadCatchupDBTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\LoadCatchupDBTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%t] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="GenerateManifestTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="GenerateManifestTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\GenerateManifestTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%t] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="GenerateNPVRTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="GenerateNPVRTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\GenerateNPVRTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%t] %logger - %message%newline" />
    </layout>
  </appender>
  
  <appender name="EPGIngestTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="EPGIngestTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\EPGIngestTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="FileWatchTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="FileWatchTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\FileWatchTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{IngestIdentifier} %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="FileWatchTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="FileWatchTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\VodIngestEvents.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="MPPSyncTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="MPPSyncTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\MPPSyncTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="HouseMaidTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="HouseMaidTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\HouseMaidTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>
  
  <appender name="ProcessEventTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="ProcessEventTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\ProcessEventTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{IngestIdentifier} %level [%t] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="PurgeCatchUpTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="PurgeCatchUpTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\PurgeCatchUpTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="PullIngestTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="PullIngestTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\PullIngestTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="PurgeNPVRTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="PurgeNPVRTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\PurgeNPVRTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="FetchNewEPGWithRecordingTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="FetchNewEPGWithRecordingTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\FetchNewEPGWithRecordingTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%t] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="UpdateNPVRRecordingTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="UpdateNPVRRecordingTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\UpdateNPVRRecordingTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%t] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="ArchiveAssetTaskAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <stringToMatch value="ArchiveAssetTask" />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\ArchiveAssetTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%t] %logger - %message%newline" />
    </layout>
  </appender>
  

  <appender name="IngestAppender" type="log4net.Appender.RollingFileAppender">
    <filter type="log4net.Filter.PropertyFilter">
      <key value="TaskName" />
      <RegexToMatch  value="FileWatchTask|ProcessEventTask" />
    </filter>
    <threshold value="WARN"/>
    <filter type="log4net.Filter.DenyAllFilter" />
    <file value="C:\tmp\logs\ConaxWorkflowManager\IngestTask.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1024KB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{IngestIdentifier} %level [%t] %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="IngestAppender" />
    <appender-ref ref="PurgeNPVRTaskAppender" />
    <appender-ref ref="LoadCatchupDBTaskAppender" />
    <appender-ref ref="GenerateManifestTaskAppender" />
    <appender-ref ref="GenerateNPVRTaskAppender" />    
    <appender-ref ref="EPGIngestTaskAppender" />
    <appender-ref ref="FileWatchTaskAppender" />
    <appender-ref ref="HouseMaidTaskAppender" />
    <appender-ref ref="MPPSyncTaskAppender" />    
    <appender-ref ref="ProcessEventTaskAppender" />
    <appender-ref ref="PurgeCatchUpTaskAppender" />
    <appender-ref ref="PullIngestTaskAppender" />
    <appender-ref ref="FetchNewEPGWithRecordingTaskAppender" />
    <appender-ref ref="UpdateNPVRRecordingTaskAppender" />
    <appender-ref ref="ArchiveAssetTaskAppender" />    
    <appender-ref ref="RollingFile" />
  </root>
  
</log4net>