<?xml version="1.0" encoding="UTF-8"?>
<FolderConfiguration>
<!--Set to true to enable QA step ie that publishing is done via the QA page. Values are true or false-->
  <IngestSettings enableQA="true"/>
 <!--Value must match an existing Uri profile in Conax Contego-->
  <URIProfile>FREE_USAGE</URIProfile>
   <!--Allowed values are those in XtendDeviceMap.xml. Corresponding values must exist in Cubiware-->
  <Devices>
    <Device>PC</Device>
    <Device>MAC</Device>
    <Device>STB</Device>
	<Device>iPhone</Device>
	<Device>iPad</Device>
  </Devices>
  <!--Allowed values are any CRO in MPP. Note values are case sensitive-->
  <ContentRightsOwner>HBO</ContentRightsOwner>
  <!--Allowed values are any CA in MPP. Note values are case sensitive-->
  <ContentAgreement>HBO All Regions</ContentAgreement>
  <!--Value must match image name in folder-->
  <DefaultImageFileName>default.jpg</DefaultImageFileName>
  <!--Value must match metadatamapping.config file name. Note: there can be several metadatamapping config files-->
  <MetadataMappingConfigurationFileName>MetadataMapping.config</MetadataMappingConfigurationFileName>
   <MetadataDefaultValues>
   <!--Default Parental Rating to be applied if missing from ingest xml-->
    <ParentalRating>NC-17</ParentalRating>
   <!--Default Genre to be applied if missing from ingest xml-->
    <Genre>Family</Genre>
	<!--Default Category to be applied if missing from ingest xml-->
    <Category>Romance</Category>
  </MetadataDefaultValues>
  <!--Configure this section if running multiple services with the SAME prices. Note: Not a common scenario-->
  <DefaultConfigurationForAllServices>
    <Prices>
	<!--All services will have the following TVOD pricing-->
      <RentalPrice amount="10.0" currency="SEK" periodLengthInhrs="24"/>
	<!--All ingests with category Action will have the following TVOD price. There can be more than one category pricing-->
      <Categories>
        <Category name="Action">
          <RentalPrice amount="8.0" currency="SEK" periodLengthInhrs="24"/>
        </Category>
      </Categories>
    </Prices>
  </DefaultConfigurationForAllServices>
  <!--Configure this section if running multiple services with different pricing. Note: the most common scenario. One service section per outlet-->
  <ConfigurationForServices>
  <!--Service object for the outlet in MPP-->
    <Service objectId="1">
      <Prices>
	  <!--Ingested Content will be added a SVOD price. The ID relates to the price ID in the MPP-->
        <SubscriptionPrice id="10"/>
	  <!--The configured service will have the following TVOD pricing-->
        <RentalPrice amount="12.0" currency="SEK" periodLengthInhrs="24"/>
        <Categories>
		    <Category name="Action">
		<!--Ingested Content with category Action will have this SVOD price. The ID relates to the price ID in the MPP-->
            <SubscriptionPrice id="11"/>
		<!--All ingests with category Action will have the following TVOD price. There can be more than one category pricing-->
            <RentalPrice amount="13.0" currency="SEK" periodLengthInhrs="24"/>
          </Category>
        </Categories>
      </Prices>
    </Service>
	<!--Service object for the outlet in MPP-->
    <Service objectId="2">
      <Prices>
	  <!--The configured service will have the following TVOD pricing-->
        <RentalPrice amount="5" currency="USD" periodLengthInhrs="24"/>
        <Categories>
	<!--All ingests with category Si-fi will have the following TVOD price. -->
          <Category name="Si-fi">
            <RentalPrice amount="6.0" currency="USD" periodLengthInhrs="24"/>
          </Category>
	<!--All ingests with category Drama will have the following TVOD price. -->
          <Category name="Drama">
            <RentalPrice amount="7.0" currency="USD" periodLengthInhrs="24"/>
          </Category>
        </Categories>
      </Prices>
    </Service>
    </ConfigurationForServices>
</FolderConfiguration>
